<%- include('../../layout/navbar') -%>

<% if(err.length > 0){%>
    <script>
        Swal.fire({
            icon: 'error',
            text: '<%= err%>',
        })
    </script>
<%} %>

<% if(suc.length > 0){%>
    <script>
        Swal.fire({
            icon: 'success',
            text: '<%= suc%>',
        })
    </script>
<%} %>

    <div class="tests">
        <div class="container"><br>
            <p class="title">الكورسات</p>
            <br>
            <button id="add-btn" onclick="add()" class="add-btn"><ion-icon class="icon" name="add"></ion-icon></button>
            <button id="close-btn" style="display: none; background-color: #d9534f;" onclick="closePanel()"
                class="add-btn"><ion-icon class="icon" name="remove"></ion-icon></button>
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>عدد الجلسات</th>
                        <th>سعر الجلسة</th>
                        <th>السعر الكلي</th>
                        <th>تعديل</th>
                        <th>حذف</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="add" style="display: none;">
                        <form action="/course/add" method="post">
                            <td>
                                <input type="number" name="sessions" placeholder="عدد الجلسات">
                            </td>
                            <td>
                                <input type="number" name="price" placeholder="سعر الكورس">
                            </td>
                            <td><button class="btn btn-success">اضاقة</button></td>
                            <td></td>
                            <td></td>
                        </form>
                    </tr>

                    <% for (let i = 0; i < data.length; i++) {%>
                        <tr>
                            <td><%= data[i].sessions%></td>
                            <td><%= ((data[i].price)/data[i].sessions).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                            <td><%= (data[i].price).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                            <td><button onclick="window.location.href='/course/edit/<%= data[i]._id%>'" class="edit-btn"><ion-icon class="icon" name="pencil"></ion-icon></button></td>
                            <td><form action="/course/delete/<%= data[i]._id%>?_method=DELETE" method="post">
                                <button class="delete-btn"><ion-icon class="icon" name="remove"></ion-icon></button>
                                </form>
                            </td>
                        </tr>
                    <%} %>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        const addPanel = document.getElementById("add")
        const addBtn = document.getElementById("add-btn")
        const closeBtn = document.getElementById("close-btn")

        function add() {
            addPanel.style.display = "contents"
            addBtn.style.display = "none"
            closeBtn.style.display = "block"
        }

        function closePanel() {
            addPanel.style.display = "none"
            addBtn.style.display = "block"
            closeBtn.style.display = "none"
        }
    </script>

    <%- include('../../layout/footer') -%>