<%- include('../../layout/navbar') -%>

    <script>
        Swal.fire({
            icon: 'info',
            showConfirmButton: false,
            title: 'تعديل',
            html: `
        <form action="/course/edit/<%= data._id%>?_method=PUT" method="post">
        <div style="text-align: center;">
            <input name="sessions" type="number" placeholder="عدد الجلسات" value="<%= data.sessions%>"
            style="border: none; border-radius: 5px; box-shadow: 0 0 10px #00000033; direction: rtl; width: 250px;">
            <br><br>
            <input name="price" type="number" placeholder="السعر الكلي" value="<%= data.price%>"
            style="border: none; border-radius: 5px; box-shadow: 0 0 10px #00000033; direction: rtl; width: 250px;">
            <br><br>
            <button style="padding: 5px;border: none; border-radius: 5px; background-color: #0275d8; color: #fff;">تعديل</button>
        </div>
    </form>
        `
        })
    </script>

    <%- include('../../layout/footer') -%>