<%- include('../../layout/navbar') -%>
    <% if(err.length> 0){%>
        <script>
            Swal.fire({
                icon: 'error',
                text: `<%= err%>`
            })
        </script>
        <%} %>
            <% if(suc.length> 0){%>
                <script>
                    Swal.fire({
                        icon: 'success',
                        text: `<%= suc%>`
                    })
                </script>
                <%} %>
                    <div class="add-patient">
                        <div class="container flex">
                            <form action="/patient/add" method="post">
                                <input type="text" placeholder="الاسم الكامل" name="name">
                                <input type="date" placeholder="تاريخ الميلاة" name="birthDate">
                                <select name="gender" id="">
                                    <option selected>الجنس</option>
                                    <option>ذكر</option>
                                    <option>انثى</option>
                                </select>
                                <select name="study" id="">
                                    <option selected>التحصيل الدراسي</option>
                                    <option>يقرا و يكتب</option>
                                    <option>ابتدائي</option>
                                    <option>متوسط</option>
                                    <option>ثانوي</option>
                                    <option>دبلوم</option>
                                    <option>بكلوريوس</option>
                                    <option>ماجستير</option>
                                    <option>دكتوراة</option>

                                </select>
                                <input type="text" placeholder="العنوان" name="address">
                                <input type="text" placeholder="رقم الهاتف" name="phone">
                                <select name="relationship" id="">
                                    <option selected>الحالة الاجتماعية</option>
                                    <option>اعزب</option>
                                    <option>متزوج</option>
                                    <option>ارمل</option>
                                </select>
                                <input type="number" placeholder="عدد افراد العائلة" name="familyMembers">
                                <input type="number" placeholder="تسلسله في العائلة" name="familyRank">
                                <input type="text" name="sendTo" placeholder="الاحالة الى">
                                <select name="health" id="">
                                    <option selected>الجانب الصحي</option>
                                    <option>جيد</option>
                                    <option>متوسط</option>
                                    <option>ضعيف</option>
                                </select>

                                <select name="psycho" id="">
                                    <option selected>الجانب النفسي</option>
                                    <option>جيد</option>
                                    <option>متوسط</option>
                                    <option>ضعيف</option>
                                </select>

                                <select name="RelationshipAndFamily" id="">
                                    <option selected>الجانب الاسري و الاجتماعي</option>
                                    <option>جيد</option>
                                    <option>متوسط</option>
                                    <option>ضعيف</option>
                                </select>
                                <select name="course">
                                    <option>الكورس العلاجي</option>
                                    <% courses.forEach(course=> {%>
                                        <option>
                                            <%= course.sessions%>
                                        </option>
                                        <%}) %>
                                </select>

                                <select name="type">
                                    <option>نوع الكورس</option>
                                    <option>حضوري</option>
                                    <option>اونلاين</option>
                                </select>

                                <br>
                                <textarea type="text" name="psychoNote" placeholder="ملاحظات "></textarea>
                                <textarea type="text" name="Notes" placeholder="الادوية المستخدمة"></textarea>
                                <br>
                                <div class="auto-inputs">
                                    <div class="autocomplete">
                                        <input name="therapist_diagnose" id="myInput" type="text" placeholder="تشخيص المعالج" autocomplete="off">
                                    </div>
                                    <div class="autocomplete">
                                        <input name="doctor_diagnose" id="myInput2" type="text" placeholder="تشخيص الطبيب" autocomplete="off">
                                    </div>
                                </div>
                                <button class="btn btn-success">اضافة</button>
                            </form>
                        </div>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
                    <script>
                        function autocomplete(inp, arr) {
                            let currentFocus;
                            const fuse = new Fuse(arr, {
                                threshold: 0.4,
                            });

                            inp.addEventListener("input", function () {
                                let a, b, val = this.value;
                                closeAllLists();
                                if (!val) return false;
                                currentFocus = -1;

                                a = document.createElement("DIV");
                                a.setAttribute("id", this.id + "autocomplete-list");
                                a.setAttribute("class", "autocomplete-items");
                                this.parentNode.appendChild(a);

                                const results = fuse.search(val);
                                results.forEach(({ item }) => {
                                    b = document.createElement("DIV");
                                    b.innerHTML = `<strong>${item.substr(0, val.length)}</strong>${item.substr(val.length)}`;
                                    b.innerHTML += `<input type='hidden' value='${item}'>`;
                                    b.addEventListener("click", function () {
                                        inp.value = this.getElementsByTagName("input")[0].value;
                                        closeAllLists();
                                    });
                                    a.appendChild(b);
                                });
                            });

                            inp.addEventListener("keydown", function (e) {
                                let x = document.getElementById(this.id + "autocomplete-list");
                                if (x) x = x.getElementsByTagName("div");
                                if (e.keyCode == 40) {
                                    currentFocus++;
                                    addActive(x);
                                } else if (e.keyCode == 38) {
                                    currentFocus--;
                                    addActive(x);
                                } else if (e.keyCode == 13) {
                                    e.preventDefault();
                                    if (currentFocus > -1 && x) x[currentFocus].click();
                                }
                            });

                            function addActive(x) {
                                if (!x) return false;
                                removeActive(x);
                                if (currentFocus >= x.length) currentFocus = 0;
                                if (currentFocus < 0) currentFocus = x.length - 1;
                                x[currentFocus].classList.add("autocomplete-active");
                            }

                            function removeActive(x) {
                                for (let i = 0; i < x.length; i++) {
                                    x[i].classList.remove("autocomplete-active");
                                }
                            }

                            function closeAllLists(elmnt) {
                                const x = document.getElementsByClassName("autocomplete-items");
                                for (let i = 0; i < x.length; i++) {
                                    if (elmnt != x[i] && elmnt != inp) {
                                        x[i].parentNode.removeChild(x[i]);
                                    }
                                }
                            }

                            document.addEventListener("click", function (e) {
                                closeAllLists(e.target);
                            });
                        }

                        const data = [
                            "الإعاقات الذهنية",
                            "اضطراب النمو الذهني",
                            "تأخر النمو الشامل",
                            "الإعاقة الذهنية غير المحددة",
                            "اضطرابات التواصل",
                            "اضطراب النطق",
                            "اضطراب صوت الكلام",
                            "البدء المتأخر لاضطراب الطلاقة (التأتأة)",
                            "اضطراب التواصل الاجتماعي (العملي)",
                            "اضطراب التواصل غير المحدد",
                            "اضطراب طيف التوحد",
                            "اضطراب نقص الانتباه/فرط الحركة المحدد الآخر",
                            "اضطراب نقص الانتباه/فرط الحركة غير المحدد",
                            "اضطرابات التعلم المحددة",
                            "الاضطرابات الحركية",
                            "اضطراب التناسق التطوري",
                            "الحركات النمطية المتكررة",
                            "اضطراب العرة (اللزمات)",
                            "اضطراب توريت",
                            "اضطراب العرة الحركية أو الصوتية المستمر (المزمن)",
                            "اضطراب العرة التمهيدي",
                            "الاضطراب الذهاني",
                            "الاضطراب الذهاني الوجيز",
                            "الاضطراب الذهاني المشيمي الشكل",
                            "الفصام",
                            "الفصام الوجداني",
                            "الاضطراب الذهاني الناتج عن استخدام المواد",
                            "الاضطراب الذهاني بسبب حالة طبية أخرى",
                            "الفصام العاطفي الفاقـد للتمايز عن طيف آخر (محدد الكاتاتونيا)",
                            "الكاتاتونيا بسبب حالة طبية أخرى",
                            "الكاتاتونيا غير المحددة",
                            "اضطرابات طيف الفصام والاضطرابات الذهانية المحددة الأخرى",
                            "اضطرابات طيف الفصام والاضطرابات الذهانية غير المحددة",
                            "اضطراب ثنائي القطب I",
                            "اضطراب ثنائي القطب II",
                            "اضطراب المزاج الدوراني",
                            "الاضطراب ثنائي القطب والاضطرابات ذات الصلة الناتجة بمادة/دواء",
                            "الاضطراب ثنائي القطب والاضطرابات ذات الصلة بسبب حالة طبية أخرى",
                            "الاضطراب ثنائي القطب والاضطرابات ذات الصلة المحددة الأخرى",
                            "ثنائي القطب والاضطرابات ذات الصلة غير المحددة",
                            "اضطراب المزاج غير المحدد",
                            "محددات ثنائي القطب والاضطرابات ذات الصلة",
                            "اضطراب المزاج المتقلب المتشوش",
                            "الاضطراب الاكتئابي الجسيم",
                            "اضطراب اكتئابي مستمر (سوء المزاج)",
                            "اضطراب سوء المزاج ما قبل الطمث",
                            "الاضطراب الاكتئابي المحدد بمدى/شدّة",
                            "الاضطراب الاكتئابي بسبب حالة طبية أخرى",
                            "الاضطراب الاكتئابي محدد آخر",
                            "الاضطراب الاكتئابي غير المحدد",
                            "محددات الاضطرابات الاكتئابية",
                            "اضطراب قلق الانفصال",
                            "الهلع الانتقائي",
                            "الرهاب النوعي",
                            "اضطراب القلق الاجتماعي",
                            "اضطراب الهلع",
                            "اضطراب القلق المعمم",
                            "اضطراب القلق الناتج بمادة/دواء",
                            "اضطراب القلق بسبب حالة طبية أخرى",
                            "اضطراب قلق محدد آخر",
                            "اضطراب قلق غير محدد",
                            "اضطراب الوسواس القهري",
                            "اضطراب تشوه صورة الجسد",
                            "اضطراب الاكتناز",
                            "هوس نتف الشعر (اضطراب نتف الأشعار)",
                            "نزع الجلد (اضطراب نزع الجلد)",
                            "الوسواس القهري والاضطرابات ذات الصلة المحدث بمادة/دواء",
                            "الوسواس القهري والاضطرابات ذات الصلة بسبب حالة طبية أخرى",
                            "الوسواس القهري والاضطرابات ذات الصلة المحددة الأخرى",
                            "الوسواس القهري والاضطرابات ذات الصلة غير المحددة",
                            "اضطراب التعلق التفاعلي",
                            "اضطراب المشاركة الاجتماعية المتخلخل",
                            "اضطراب الكرب ما بعد الصدمة",
                            "اضطراب الكرب ما بعد الصدمة للأطفال بعمر ست سنوات والأصغر سنا",
                            "اضطراب الكرب الحاد",
                            "اضطرابات التأقلم",
                            "اضطراب الحداد المطول",
                            "الاضطرابات المتعلقة بالصدمة والإجهاد المحددة الأخرى",
                            "الاضطرابات المتعلقة بالصدمة والإجهاد غير المحددة",
                            "اضطراب الهوية التفارقية",
                            "النسيان التفارقي",
                            "اضطراب تبدد الشخصية/تبدد الواقع",
                            "اضطراب تفارقي محدد آخر",
                            "اضطراب تفارقي غير محدد",
                            "اضطراب العرض الجسدي",
                            "اضطراب قلق المرض",
                            "اضطراب العرض العصبي الوظيفي (اضطراب التحويل)",
                            "العوامل النفسية المؤثرة في الحالات الطبية الأخرى",
                            "الاضطراب المفتعل",
                            "اضطراب العرض الجسدي والاضطرابات ذات الصلة المحددة الأخرى",
                            "اضطراب العرض الجسدي والاضطرابات ذات الصلة غير المحددة",
                            "شهوة الطين",
                            "اضطراب الاجترار",
                            "اضطراب تناول الطعام التجنبي/المقيد",
                            "فقدان الشهية العصبي (القمه العصبي)",
                            "النهم العصبي",
                            "اضطراب الشراهة للطعام",
                            "اضطراب التغذية أو الأكل المحدد الآخر",
                            "اضطراب التغذية أو الأكل غير المحدد",
                            "سلس البول",
                            "سلس الغائط",
                            "اضطراب الإفراغ المحدد الآخر",
                            "اضطراب الإفراغ غير المحدد",
                            "اضطراب الأرق",
                            "اضطراب فرط النعاس",
                            "النوم الانتيابي",
                            "اضطرابات النوم ذات الصلة بالتنفس",
                            "توقف التنفس أو قصور التنفس الانسدادي أثناء النوم",
                            "اضطراب الأرق",
                            "اضطراب فرط النعاس",
                            "النوم الانتيابي",
                            "اضطرابات النوم ذات الصلة بالتنفس",
                            "توقف التنفس أو قصور التنفس الانسدادي أثناء النوم",
                            "توقف التنفس وسط النوم",
                            "نقص التهوية المتعلق بالنوم",
                            "اضطراب وتيرة النوم - اليقظة اليومي",
                            "حالات النوم المضطرب",
                            "اضطرابات الاستثارة خلال نوم حركة العين السريعة",
                            "اضطراب الكابوس",
                            "اضطراب السلوك خلال نوم حركة العين السريعة",
                            "متلازمة الساقين المتململتين",
                            "اضطراب النوم المحدث بمادة/دواء",
                            "اضطراب الأرق المحدد الآخر",
                            "اضطراب أرق غير محدد",
                            "اضطراب فرط النعاس المحدد الآخر",
                            "اضطراب فرط النعاس غير المحدد",
                            "اضطراب نوم - يقظة محدد آخر",
                            "اضطراب نوم - يقظة غير محدد",
                            "تأخر القذف",
                            "اضطراب الانتصاب",
                            "اضطراب النشوة الجنسية الأنثوي",
                            "اضطراب الاهتمام/الاستثارة الجنسي الأنثوي",
                            "اضطراب ألم الإيلاج الحوضي التناسلي",
                            "اضطراب نقص النشاط والرغبة الجنسية الذكري",
                            "القذف المبكر",
                            "خلل جنسي محدد بمادة/دواء",
                            "خلل وظيفة جنسية محدد آخر",
                            "خلل وظيفة جنسية غير محدد",
                            "الانزعاج من الجندر",
                            "الانزعاج من الجندر عند الأطفال",
                            "الانزعاج من الجندر لدى المراهقين والبالغين",
                            "انزعاج من الجندر محدد آخر",
                            "انزعاج من الجندر غير محدد",
                            "اضطراب التحدي الاعتراضي",
                            "الاضطراب الانفصالي المتقطع",
                            "اضطراب المسلك",
                            "اضطراب الشخصية المضادة للمجتمع",
                            "هوس إشعال الحرائق",
                            "هوس السرقة",
                            "اضطراب التشوش والتحكم بالاندفاع والمسلك محدد آخر",
                            "اضطراب التشوش والتحكم بالاندفاع والمسلك غير محدد",
                            "اضطرابات استعمال المادة",
                            "اضطرابات المتعلقة بالكحول",
                            "اضطراب استعمال الكحول",
                            "الاتسام بالكحول",
                            "سحب الكحول",
                            "الاضطرابات العقلية المحدثة بالكحول",
                            "اضطراب متعلق بالكحول غير محدد",
                            "الاضطرابات المتعلقة بالكافيين",
                            "الاتسام بالكافيين",
                            "سحب الكافيين",
                            "الاضطرابات العقلية المحدثة بالكافيين",
                            "اضطراب متعلق بالكافيين غير محدد",
                            "الاضطرابات المتعلقة بالحشيش",
                            "اضطراب استعمال الحشيش",
                            "الاتسام بالحشيش",
                            "سحب الحشيش",
                            "الاضطرابات العقلية المحدثة بالحشيش",
                            "اضطراب متعلق بالحشيش غير محدد",
                            "الاضطرابات المتعلقة بالمهلوسات",
                            "اضطراب استعمال الفينسيكليدين",
                            "اضطراب استعمال المهلوسات الأخرى",
                            "الاتسام بفينسيكليدين",
                            "الاتسام بمهلوس آخر",
                            "اضطراب الإدراكي المستمر بالمهلوسات",
                            "الاضطرابات العقلية المحدثة بفينسيكليدين",
                            "الاضطرابات العقلية المحدثة بمهلوس آخر",
                            "اضطراب متعلق بفينسيكليدين غير محدد",
                            "اضطراب متعلق بمهلوس غير محدد",
                            "الاضطرابات المتعلقة بالمنشطات",
                            "اضطراب استعمال المستنشقات",
                            "الاتسام بالمستنشقات",
                            "الاضطرابات العقلية المحدثة بالمستنشقات",
                            "اضطراب متعلق بالمستنشقات غير محدد",
                            "الاضطرابات المتعلقة بالأفيون",
                            "اضطراب استعمال الأفيون",
                            "الاتسام بالأفيون",
                            "سحب الأفيون",
                            "الاضطرابات العقلية المحدثة بالأفيون",
                            "اضطراب متعلق بالأفيون غير محدد",
                            "الاضطرابات المتعلقة بالمهدئات والمنومات ومضادات القلق",
                            "اضطراب استعمال المهدئات والمنومات ومضادات القلق",
                            "الاتسام بالمهدئات والمنومات ومضادات القلق",
                            "سحب المهدئات والمنومات ومضادات القلق",
                            "الاضطرابات العقلية المحدثة بالمهدئات والمنومات ومضادات القلق",
                            "اضطراب متعلق بالمهدئات والمنومات ومضادات القلق غير محدد",
                            "الاضطرابات المتعلقة بالمنشطات",
                            "اضطراب استعمال المنشطات",
                            "الاتسام بالمنشطات",
                            "سحب المنشطات",
                            "الاضطرابات العقلية المحدثة بالمنشطات",
                            "اضطراب متعلق بالمنشطات غير محدد",
                            "الاضطرابات المتعلقة بالتبغ",
                            "اضطراب استعمال التبغ",
                            "سحب التبغ",
                            "الاضطرابات العقلية المحدثة بالتبغ",
                            "اضطراب متعلق بالتبغ غير محدد",
                            "الاضطرابات المتعلقة بمادة أخرى (أو غير معروفة)",
                            "اضطراب استعمال مادة أخرى (أو غير معروفة)",
                            "الاتسام بمادة أخرى (أو غير معروفة)",
                            "سحب مادة أخرى (أو غير معروفة)",
                            "الاضطرابات العقلية المحدثة بمادة أخرى (أو غير معروفة)",
                            "اضطراب متعلق بمادة أخرى (أو غير معروفة) غير محدد",
                            "الاضطرابات غير المتعلقة بالمواد",
                            "اضطراب المقامرة",
                            "الاضطرابات العصبية المعرفية",
                            "الهذيان",
                            "هذيان محدد آخر",
                            "هذيان غير محدد",
                            "الاضطراب العصبي المعرفي الجسيم",
                            "الاضطراب العصبي المعرفي المعتدل",
                            "الاضطراب العصبي المعرفي الجسيم أو المعتدل بسبب داء الزهايمر",
                            "اضطراب عصبي معرفي جسيم أو معتدل جبهي صدغي",
                            "اضطراب عصبي معرفي جسيم أو معتدل بسبب جسيمات ليوي",
                            "اضطراب عصبي معرفي وعائي جسيم أو معتدل",
                            "الاضطراب العصبي المعرفي الجسيم أو المعتدل بسبب أذيات الدماغ الرضية",
                            "الاضطراب العصبي المعرفي الجسيم أو المعتدل المحدث بمادة/دواء",
                            "الاضطراب العصبي المعرفي الجسيم أو المعتدل بسبب خمج فيروس نقص المناعة البشري HIV",
                            "الاضطراب العصبي المعرفي الجسيم أو المعتدل بسبب داء بريون",
                            "اضطراب عصبي معرفي معتدل أو جسيم بسبب داء باركنسون",
                            "اضطراب عصبي معرفي جسيم أو معتدل بسبب داء هنتنغتون",
                            "اضطراب عصبي معرفي جسيم أو معتدل بسبب حالة طبية أخرى",
                            "الاضطراب العصبي المعرفي الجسيم أو المعتدل الناتج عن تعدد الأسباب المرضية",
                            "اضطراب عصبي معرفي غير محدد",
                            "اضطرابات الشخصية",
                            "اضطراب الشخصية العام",
                            "المجموعة A من اضطرابات الشخصية",
                            "اضطراب الشخصية الزورانية",
                            "اضطراب الشخصية الفصامية",
                            "اضطراب الشخصية الفصامي النمط",
                            "المجموعة B من اضطرابات الشخصية",
                            "اضطراب الشخصية المعادي للمجتمع",
                            "اضطراب الشخصية الحدية",
                            "اضطراب الشخصية الهيستريونية",
                            "اضطراب الشخصية النرجسية",
                            "المجموعة C من اضطرابات الشخصية",
                            "اضطراب الشخصية التجنبية",
                            "اضطراب الشخصية الاعتمادية",
                            "اضطراب الشخصية الوسواسية القهرية",
                            "اضطرابات الشخصية الأخرى",
                            "تغير الشخصية بسبب حالة طبية أخرى",
                            "اضطراب شخصية محدد آخر",
                            "اضطراب شخصية غير محدد",
                            "اضطراب التلصص",
                            "اضطراب الاستعراء",
                            "اضطراب الاحتكاك",
                            "اضطراب المازوخية الجنسية",
                            "اضطراب السادية الجنسية",
                            "اضطراب الولع بالأطفال",
                            "اضطراب الفيتيشية",
                            "اضطراب لبس ملابس الجنس الآخر",
                            "اضطراب الولع الجنسي المحدد الآخر",
                            "اضطراب الولع الجنسي الغير المحدد",
                            "اضطراب عقلي محدد آخر ناتج عن حالة طبية أخرى",
                            "اضطراب عقلي غير محدد ناتج عن حالة طبية أخرى",
                            "اضطراب عقلي محدد آخر",
                            "اضطراب عقلي غير محدد",
                            "رموز إضافية",
                            "لا يوجد تشخيص أو حالة",
                            "حالات أخرى قد تكون محوراً للاهتمام السريري",
                            "السلوك الانتحاري",
                            "سوء المعاملة والإهمال",
                            "مشاكل إساءة معاملة الطفل وإهماله",
                            "مشاكل سوء المعاملة والإهمال للبالغين",
                            "مشاكل العلاقات",
                            "مشاكل متعلقة بالتنشئة الأسرية",
                            "المشاكل المتعلقة بالبيئة الأسرية",
                            "مشاكل تعليمية",
                            "اضطراب الاحتكاك",
                            "اضطراب المازوخية الجنسية",
                            "اضطراب السادية الجنسية",
                            "اضطراب الولع بالأطفال",
                            "اضطراب الفيتيشية",
                            "اضطراب لبس ملابس الجنس الآخر",
                            "اضطراب الولع الجنسي المحدد الآخر",
                            "اضطراب الولع الجنسي الغير المحدد",
                            "اضطرابات عقلية أخرى ورموز إضافية",
                            "اضطراب عقلي محدد آخر ناتج عن حالة طبية أخرى",
                            "اضطراب عقلي غير محدد ناتج عن حالة طبية أخرى",
                            "اضطراب عقلي محدد آخر",
                            "اضطراب عقلي غير محدد",
                            "رموز إضافية",
                            "لا يوجد تشخيص أو حالة",
                            "اضطرابات الحركة المحدثة بالأدوية والتأثيرات الجانبية الأخرى للأدوية",
                            "حالات أخرى قد تكون محوراً للاهتمام السريري",
                            "السلوك الانتحاري",
                            "سوء المعاملة والإهمال",
                            "مشاكل إساءة معاملة الطفل وإهماله",
                            "مشاكل سوء المعاملة والإهمال للبالغين",
                            "مشاكل العلاقات",
                            "مشاكل متعلقة بالتنشئة الأسرية",
                            "المشاكل المتعلقة بالبيئة الأسرية",
                            "مشاكل تعليمية",
                            "مشاكل مهنية",
                            "مشاكل السكن",
                            "مشاكل اقتصادية",
                            "مشاكل أخرى ذات صلة بالبيئة الاجتماعية",
                            "المشاكل ذات الصلة بالجريمة أو التداخل مع النظام القضائي",
                            "المشكلات المتعلقة بالظروف النفسية والاجتماعية والشخصية والبيئية الأخرى",
                            "المشاكل المتعلقة بالحصول على الرعاية الطبية وأشكال الرعاية الصحية الأخرى",
                            "ظروف التاريخ الشخصي",
                            "مقابلات الخدمات الصحية الأخرى للنصح والمشورة الطبية",
                            "الظروف أو المشاكل الإضافية التي قد تكون محل تركيز للاهتمام السريري",
                        ]
                        autocomplete(document.getElementById("myInput"), data);
                        autocomplete(document.getElementById("myInput2"), data);
                    </script>
                    <%- include('../../layout/footer') -%>