<%- include('../../layout/navbar') -%>

<div class="patient-course-info">
    <div class="course-title">
        <p>كورس - <%= Object.keys(course.sessions).length %> (<%= course.Date %> - <%= course.endDate %>)</p>
    </div>

    <div class="notes container">
        <br><br>
        <% Object.keys(course.sessions).forEach((sessionKey, index) => { 
            const session = course.sessions[sessionKey]; 
        %>
            <div class="card">
                <div class="card-header">
                    الجلسة رقم <%= index + 1 %>
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote">
                            <p><%= session.Note || "لا توجد ملاحظات" %></p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            <%= session.Date || "تاريخ غير محدد" %>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <br>
        <% }) %>
    </div>
</div>

    <%- include('../../layout/footer') -%>