<%- include('../../layout/navbar') -%>
    <% if(suc.length> 0){%>
        <script>
            Swal.fire({
                icon: 'success',
                text: `<%= suc%>`
            })
        </script>
        <%} %>

            <% if(err.length> 0){%>
                <script>
                    Swal.fire({
                        icon: 'error',
                        text: `<%= err%>`
                    })
                </script>
                <%} %>
                    <div class="profile">
                        <div class="profile-info">
                            <div class="info-side">

                                <p class="profile-title">معلومات المريض</p>
                                <div class="info">
                                    <p>الاسم : <%= data.name%>
                                    </p>
                                    <p>نوع الكورس: <%= data.type%></p>
                                    <p>تاريخ الميلاد : <%= data.birthDate%>
                                    </p>
                                    <p>الجنس : <%= data.gender%>
                                    </p>
                                    <p>الدراسة : <%= data.study%>
                                    </p>
                                    <p>العنوان : <%= data.address%>
                                    </p>
                                    <p>رقم الهاتف : <%= data.phone%>
                                    </p>
                                    <p>الحالة الاجتماعية : <%= data.relationship%>
                                    </p>
                                    <p>عدد افراد العائلة : <%= data.familyMembers%>
                                    </p>
                                    <p>الترتيب بالعائلة : <%= data.familyRank%>
                                    </p>
                                    <p>الحالة الصحية : <%= data.health%>
                                    </p>
                                    <p>الحالة النفسية : <%= data.psycho%>
                                    </p>
                                    <p>العلاقات : <%= data.RelationshipAndFamily%>
                                    </p>
                                    <p>تاريخ التسجيل : <%= data.dateAdded%>
                                    </p>
                                    <p>تشخيص المعالج : <%= data.doctor_diagnose%>
                                    </p>
                                    <p>تشخيص الطبيب : <%= data.therapist_diagnose%>
                                    </p>
                                    <div class="btns">
                                        <button onclick="window.location.href='/bills/get/<%= data.id%>'" class="btn btn-warning">سجل الحسابات</button><br>
                                        <button onclick="window.location.href='/patient/qrcode/<%= data.code%>/download'" class="btn btn-primary">تحميل QR Code</button><br>
                                    <button onclick="window.location.href='/patient/notes/get/<%= data.id%>'" class="btn btn-dark">المتابعة</button><br>
                                    <button onclick="window.location.href='/patient/edit-profile/<%= data.id%>'" class="btn btn-info">تعديل المعلومات</button><br><br>
                                    </div>

                                </div>

                            </div>
                            <div class="tables-side">
                                <p class="balance">الرصيد :
                                    <% if(data.balance>= 0){%>
                                        <span style="color:#5cb85c">
                                            <%= data.balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," )%>
                                        </span>
                                        <%} else {%>
                                            <span style="color: #d9534f">
                                                <%= data.balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," )%>
                                            </span>

                                            <%} %>
                                </p>

                                <div class="profile-courses">
                                    <% if(data.inCourse==true){%>
                                        <p class="profile-title">الكورس الحالي</p>
                                        <table class="table table-stripped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>رقم الجلسة</th>
                                                    <th>تاريخ الجلسة</th>
                                                    <th>انهاء</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% for (let i=0; i < Object.keys(CurrentCourse.sessions).length; i++) { const key=Object.keys(CurrentCourse.sessions)[i]; const s=CurrentCourse.sessions[key]; %>
                                                    <tr>
                                                        <td>جلسة <%= s.session %>
                                                        </td>
                                                        <td>
                                                            <% if (s.Date) { %>
                                                                <%= s.Date %>
                                                                    <% } else { %>
                                                                        <span style="color: #999;">لم تتم</span>
                                                                        <% } %>
                                                        </td>
                                                        <td>
                                                            <% if(s.Done==false){%>
                                                                <form
                                                                    action="/patient/end-session/<%= data._id%>/<%= CurrentCourse.code%>/<%= s.session%>?_method=PUT"
                                                                    method="post">
                                                                    <button class="btn btn-primary">انهاء</button>
                                                                
                                                                <%} %>
                                                        </td>
                                                        <br>
                                                    </tr>
                                                    <% if(s.Done==false){%>
                                                    <tr>
                                                        <td colspan="3"><textarea name="note" class="" placeholder="ملاحظة الجلسة <%= s.session%>" name="" id=""></textarea></td>
                                                    </tr>
                                                    </form>
                                                    <%} %>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                        <%} %>
                                            <p class="profile-title">الكورسات</p>
                                            <table class="table table-stripped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>عدد الجلسات</th>
                                                        <th>التاريخ</th>
                                                        <th>تاريخ الانتهاء</th>
                                                        <th>السعر</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if(data.course.length> 0){%>
                                                        <% data.course.forEach(course=> {%>
                                                            <tr onclick="window.location.href='/patient/get-course/<%= data._id%>/<%= course.code%>'">
                                                                <td>
                                                                    <%= Object.keys(course.sessions).length %>
                                                                </td>
                                                                <td>
                                                                    <%= course.Date%>
                                                                </td>
                                                                <% if(course.endDate==null){%>
                                                                    <td>مستمر</td>
                                                                    <%} else {%>
                                                                        <td>
                                                                            <%= course.endDate%>
                                                                        </td>
                                                                        <%} %>
                                                                            <td>
                                                                                <%= course.price%>
                                                                            </td>

                                                            </tr>
                                                            <%}) %>
                                                                <tr>
                                                                    <td colspan="5">مجموع عدد الجلسات : <%=
                                                                            totalSesstions%>
                                                                    </td>
                                                                </tr>
                                                                <%} %>
                                                                    <% if(data.course.length <=0){%>
                                                                        <tr>
                                                                            <td colspan="5">لا يوجد كورسات سابقة</td>
                                                                        </tr>
                                                                        <%} %>
                                                                            <tr id="add-course" style="display: none;">
                                                                                <form
                                                                                    action="/patient/add-course/<%= data._id%>?_method=PUT"
                                                                                    method="post">
                                                                                    <td colspan="3"><select
                                                                                            class="form-select"
                                                                                            name="course">
                                                                                            <% courses.forEach(course=> {%>
                                                                                                <option>
                                                                                                    <%=
                                                                                                        course.sessions%>
                                                                                                </option>
                                                                                                <%}) %>
                                                                                        </select></td>
                                                                                    <td><button
                                                                                            class="btn btn-primary">اضافة</button>
                                                                                    </td>
                                                                                </form>
                                                                            </tr>
                                                </tbody>
                                            </table>
                                            <button id="add-course-btn" onclick="addCourse()"
                                                class="btn btn-success">اضافة كورس</button>
                                            <button style="display: none;" onclick="hideCourse()" id="hide-course"
                                                class="btn btn-danger">اخفاء</button>
                                                <br><br>
                                             <p class="profile-title">الاختبارات</p>
                                            <table class="table table-stripped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>الاختبار</th>
                                                        <th>تاريخ الاضافة</th>
                                                        <th>حذف</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <% if(data.tests.length > 0){%>
                                                        <% data.tests.forEach(test => {%>
                                                        <tr>
                                                            <td><%= test.test%></td>
                                                            <td><%= test.Date%></td>
                                                            <td><form action="/patient/remove-test/<%= data._id%>/<%= test.test%>?_method=PUT" method="post">
                                                                <button class="btn btn-danger">حذف</button>
                                                            </form></td>
                                                        </tr>
                                                    <%}) %>
                                                    <%} else {%>
                                                        <tr>
                                                            <td colspan="3">لا يوجد اختبارات</td>
                                                        </tr>
                                                    <%} %>
                                                    <tr id="table-Test" style="display: none;">
                                                        <form action="/patient/add-test/<%= data._id%>?_method=PUT" method="post">
                                                            <td><select class="form-select" name="test">
                                                                <option>الاختبارات</option>
                                                                <% tests.forEach(test => {%>
                                                                    <option><%= test.name%></option>
                                                                <%}) %>
                                                            </select></td>
                                                            <td></td>
                                                            <td><button class="btn btn-primary">اضافة</button></td>
                                                        </form>
                                                    </tr>
                                                </tbody>
                               
                                            </table>
                                            <br>
                                            <button onclick="addTestFun()" id="addTest" class="btn btn-success">اضافة اختبار</button>
                                            <button onclick="hideTestFun()" id="hideTest" style="display: none;" class="btn btn-danger">اخفاء</button>
                                            <br><br>
                                            <p class="profile-title">التمارين</p>
                                            <table class="table table-stripped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>التمرين</th>
                                                        <th>تاريخ الاضافة</th>
                                                        <th>حذف</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <% if(data.exercise.length > 0){%>
                                                        <% data.exercise.forEach(test => {%>
                                                        <tr>
                                                            <td><%= test.exercise%></td>
                                                            <td><%= test.Date%></td>
                                                            <td><form action="/patient/remove-exercise/<%= data._id%>/<%= test.exercise%>?_method=PUT" method="post">
                                                                <button class="btn btn-danger">حذف</button>
                                                            </form></td>
                                                        </tr>
                                                    <%}) %>
                                                    <%} else {%>
                                                        <tr>
                                                            <td colspan="3">لا يوجد تمارين</td>
                                                        </tr>
                                                    <%} %>
                                                    <tr id="table-exercise" style="display: none;">
                                                        <form action="/patient/add-exercise/<%= data._id%>?_method=PUT" method="post">
                                                            <td><select class="form-select" name="exercise">
                                                                <option>التمارين</option>
                                                                <% exercise.forEach(test => {%>
                                                                    <option><%= test.name%></option>
                                                                <%}) %>
                                                            </select></td>
                                                            <td></td>
                                                            <td><button class="btn btn-primary">اضافة</button></td>
                                                        </form>
                                                    </tr>
                                                </tbody>
                               
                                            </table>
                                            <br>
                                            <button onclick="addexerciseFun()" id="addexercise" class="btn btn-success">اضافة تمرين</button>
                                            <button onclick="hideexerciseFun()" id="hideexercise" style="display: none;" class="btn btn-danger">اخفاء</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        const courseRow = document.getElementById("add-course")
                        const addBtn = document.getElementById("add-course-btn")
                        const hideBtn = document.getElementById("hide-course")
                        function addCourse() {
                            courseRow.style.display = "contents"
                            addBtn.style.display = "none"
                            hideBtn.style.display = "initial"
                        }

                        function hideCourse() {
                            courseRow.style.display = "none"
                            addBtn.style.display = "initial"
                            hideBtn.style.display = "none"
                        }

                        const tableTest = document.getElementById("table-Test")
                        const addTest = document.getElementById("addTest")
                        const hideTest = document.getElementById("hideTest")

                        function addTestFun(){
                            tableTest.style.display = "contents"
                            addTest.style.display = "none"
                            hideTest.style.display = "initial"
                        }

                        function hideTestFun() {
                            tableTest.style.display = "none"
                            addTest.style.display = "initial"
                            hideTest.style.display = "none"
                        }
                        const tableexercise = document.getElementById("table-exercise")
                        const addexercise = document.getElementById("addexercise")
                        const hideexercise = document.getElementById("hideexercise")
                        
                        function addexerciseFun(){
                            tableexercise.style.display = "contents"
                            addexercise.style.display = "none"
                            hideexercise.style.display = "initial"
                        }

                        function hideexerciseFun() {
                            tableexercise.style.display = "none"
                            addexercise.style.display = "initial"
                            hideexercise.style.display = "none"
                        }
                    </script>
                    
                    <%- include('../../layout/footer') -%>