<%- include('../../layout/navbar') -%>

<% if(suc.length > 0){%>
    <script>
        Swal.fire({
            icon: 'success',
            text: '<%= suc%>'
        })
    </script>
<%} %>

    <div class="tests">
        <div class="container"><br>
            <p class="title">التمارين</p>
            <br>
            <button id="add-btn" onclick="add()" class="add-btn"><ion-icon class="icon" name="add"></ion-icon></button>
            <button id="close-btn" style="display: none; background-color: #d9534f;" onclick="closePanel()"
                class="add-btn"><ion-icon class="icon" name="remove"></ion-icon></button>
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>الاختبار</th>
                        <th>حذف</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="add" style="display: none;">
                        <form action="/exercise/add" method="post">
                            <td>
                                <input type="text" name="name" placeholder="اسم الاختبار">
                            </td>
                            <td><button class="btn btn-success">اضاقة</button></td>
                        </form>
                    </tr>
                    <% for (let i=0; i < data.length; i++) {%>
                        <tr>
                            <td>
                                <%= data[i].name%>
                            </td>
                            <td><form action="/exercise/delete/<%= data[i]._id%>?_method=DELETE" method="post">
                                <button class="delete-btn"><ion-icon class="icon" name="remove"></ion-icon></button>
                                </form>
                            </td>
                        </tr>
                        <%} %>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        const addPanel = document.getElementById("add")
        const addBtn = document.getElementById("add-btn")
        const closeBtn = document.getElementById("close-btn")

        function add() {
            addPanel.style.display = "contents"
            addBtn.style.display = "none"
            closeBtn.style.display = "block"
        }

        function closePanel() {
            addPanel.style.display = "none"
            addBtn.style.display = "block"
            closeBtn.style.display = "none"
        }
    </script>

    <%- include('../../layout/footer') -%>