<%- include('../../layout/navbar') -%>
    <script>
        
        Swal.fire({
            icon: 'question',
            showConfirmButton: false,
            html: `    <div style="text-align: center;">
        <form action="/bills/pay/<%= data._id%>/<%= course.code%>?_method=PUT" method="post">
            <input name="amount" type="number" placeholder="المبلغ المدفوع"
                style="width: 300px; direction: rtl; border-radius: 5px; border-style: solid; border-width: 1px;">
            <br><br>
            <button
                style="border: none; width: 120px; background-color: #5cb85c; color: #fff; border-radius: 5px; padding: 2px; box-shadow: 0 0 10px #00000044;">دفع</button>
        </form>
        <br>
<button onclick="window.location.href='/bills/get/<%= data._id%>'"
                style="border: none; width: 120px; background-color: #f0ad4e; color: #000; border-radius: 5px; padding: 2px; box-shadow: 0 0 10px #00000044;">الغاء</button>
    </div>`
        })
    </script>
    <%- include('../../layout/footer') -%>